@if(Value != null && MenuTopics != null)
{
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" @bind="@Value.Name" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" @bind="@Value.Description" />
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" @bind="@Value.Price" />
                </div>
                <div class="form-group">
                    <select id="topic-combo" name="dropdown">
                        <label for="owner">Groep:</label>
                        @foreach(var topicItem in MenuTopics)
                        {
                            <option id="owner" selected="@(topicItem.Id==Value.Topic.Id)" value="@topicItem">@topicItem.Title</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <InputFile id="fileInput" OnChange="OnFileSelected" class="form-control" />
                    @if (FileError)
                    {
                        <Tooltip Title="De foto mag niet groter zijn als 5MB" role="button">
                            <Icon Color="IconColor.Danger" Size="IconSize.x6" Name="IconName.ExclamationCircleFill"></Icon>
                        </Tooltip>
                    }
                </div>

            </form>
        </div>
        @if(Value.Images?.Count > 0)
        {
            
                <div class="col-md-6">
                <img src="@Value.Images[0].ToImageSource" alt="@Value.Images[0].Name" class="img-thumbnail" />
                </div>
          

        }
    </div>
}
else
{
    <p>Loading...</p>
}

@code {

}
